
body{
	font-family:Lato;
	margin:0;
	padding: 0;
	background-color:#1b1b1c;
	
}
html{
	margin:0;
	padding:0;
}



#introScreen{	
	color:white;	
	display: flex;
	flex-direction: column;
	align-items: center;/* allign items for vertical*/
	justify-content: center;
	/*position: fixed; /*keeps top portion to stay at top over things*/
	height: 80vh; /*makes it cover entire screen at beginning*/
	
	width:100%;
	margin: 0;
}
#introBG{
	
	background-image: url("deskTwo.jpg");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	position: fixed;
	z-index: -1;
	filter: blur(0px);
}
#welcomeMsg{
	margin-top:80px;
	text-align: center;
}
#welcomeMsg h2{
	font-weight: 300;
	
}

#welcomeMsg h1{
	font-size: 50px;
	
}


.borderBox{
	border: 0;
    height: 0;
    border-top: 1.5px solid rgba(255, 255, 255,255);
    border-bottom: 1.5px solid rgba(37, 31, 31, 0.158);
    margin: 24px auto 24px;
    width: 400px;
}
.borderUnderline{
	border: 0;
    height: 0;
    border-top: 1.5px solid rgba(255, 255, 255,255);
    border-bottom: 1.5px solid rgba(37, 31, 31, 0.158);
	margin: 24px auto 22px;
	margin-bottom:5px;
    width: 200px;
}
#contact{
	display:flex;
	justify-content: center;
	height: 100px;
	width: 100px;
	margin-bottom: 8px;	
}
#projectTop{
	margin-top:20px;
}
#contact i{
	color:white;
	padding: 10px;
    font-size: 30px;
    text-align: center;

    text-decoration: none;
	opacity: 0.7;
}
#contact i:hover{
	color:#222c34;	
	opacity:0.5;
}
#resumeButton{
	display:flex;
	flex-direction: row;
	height:100px;
	width: 100px;
	letter-spacing: .2em;
	justify-content: center;
	
}
#resumeButton i{
	color:white;
	padding: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
	opacity: 0.7;
}
#resumeButton i:hover{
	color:#222c34;	
	opacity:0.5;
}
#downButton i{
	color:white;
	margin-top:10px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
	opacity: 0.7;
}
#downButton i:hover{
	color:#222c34;	
	opacity:0.5;
}


#socialMediaBox{
	display:flex;
	flex-direction: column;
	width:100%;
	font-weight:300;
	height:169px;
	align-items: center;
	background-color: #1b1b1c; 
	
}
#socialMediaBox h1, #socialMediaBox p{
	color:white;
	font-weight:300;

}
#socialMediaBox p{
	margin-top:5px;
	font-size:25px;

}
.socialMedia {
	display: flex;
	align-items: center;
}
.socialMedia a {
	text-decoration: none;
	color:	white;
	margin:30px;
	margin-top:5px;
	font-size:20px;
}

@-webkit-keyframes chevron-pulse {
	0% {
	  opacity: 0; }
	40% {
	  opacity: 1; }
	80% {
	  opacity: 0; }
	100% {
	  opacity: 0; } }
  
  @keyframes chevron-pulse {
	0% {
	  opacity: 0; }
	40% {
	  opacity: 1; }
	80% {
	  opacity: 0; }
	100% {
	  opacity: 0; } }
  
  .tcon-svgchevron {
	height: 50px;
	width: 50px; 
	cursor:pointer;
	margin-top:50px;
	}
  
  .tcon-svgchevron path {
	-webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
	animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
	fill: transparent;
	stroke: white;
	stroke-width: 1px; 
	}
  
  .tcon-svgchevron path.a1 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s; }
  
  .tcon-svgchevron path.a2 {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s; }
  
  .tcon-svgchevron path.a3 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s; }
  
  



#aboutMe{
	padding:0;
	margin:0;
	width: 100%;
	opacity : 0 ;
	background: white;
}
#aboutMe h1{
	padding-left:330px;
	padding-right:350px;
	font-weight: 300;
	
}


#experienceBox{

	background:white;
	margin-left:100px;
	margin-right:100px;
	margin-top:100px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
      
}
#workExperience{

	background:white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
    height:400px;
    font-weight: 300;
    width: 500px;

    margin-top:60px;
}
#hackathonExperience{

	background:white;
	font-weight: 300;
	margin-top:60px;
	
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
    height:400px;
    width: 500px;

}
#workExperience h1{
	text-align: center;
	padding:0;
}
#hackathonExperience h1{
	text-align: center;
	padding:0;
}
#extraInfoBox{
	background:white;
	
	margin-top:50px;
    align-items: center;
    margin-bottom: 30px;
    width:100%;
    display: flex;
    justify-content: space-around;
}
#extraInfoBox h1{
	padding: 0;
	text-align: center;
}
.projectsPic{
	width: 700px;
	margin:40px;
	margin-right:75px;
	box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
}
.projectsText{
	width:80%;
	font-size: 20px;
}
.projectsText h3{
	font-size: 30px;
	letter-spacing: .2em;
}
#proj1{
	background: url("imhungry.png") no-repeat center;
	background-size:cover;
}
#proj2{
	background: url("familyfinder.png") no-repeat center;
	background-size:cover;
}
#proj3{
	background: url("seatmonitor.png") no-repeat center;
	background-size:cover;
}
#datadawg{
	background: url("datadawgs.png") no-repeat center;
	background-size:cover;
}

#givdapps{
	background: url("splashpage.jpg") no-repeat center;
	background-size:cover;
}

#projectSection{
	
	display:flex;
	flex-direction: column;
	align-items: center;
	color:black;
	
}
.projects{
	border-radius: 25px;
	display:flex;
	flex-direction: row;
	margin-top:30px;
	margin-bottom:70px;
	margin-left:100px;
	margin-right:100px;
	padding:30px;
	width:80%;
	height:400px;
	
	background-color:#FFFFFF;
	box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
	font-size: 28px;	
	

}

.projectBtns{
	height: 30px;
	display:flex;
	align-items:center; /*Makes it so that the buttons dont take height of container in flexbox*/

}
.projectBtns a{
	text-decoration: none;
	background-color: black;
	color:	white;
	padding:10px;
	border-radius: 5px;
	margin-right: 10px;
	margin-left:10px;
	font-size: 10px;
	
}

.projectBtns a:hover{
	background-color: blue;
	cursor:pointer;
}

.disabledBtn{
	background-color: gray !important; /* makes sure that this takes presedence */
	cursor:default !important;
}
.extraInfoText{
	width:80%;
	font-size: 20px;
	padding-left:40px;
}
.extraInfoText h3{
	font-size: 30px;
	letter-spacing: .2em;
	margin-bottom: 0px;
}
.extraInfoText p{
	margin-bottom: 0px;
	margin-top:0px;
}
.extraInfoText a{
	text-decoration: none;
	color: red;

}

@media(max-width: 1250px) {
 
  .projects {
    flex-direction: column;
    height: 600px;
    align-items: center;
  }

  .projectsText {
    height: 400px;
    margin-bottom: 0;
  }

  .projectsPic {
    height: 100%;
    width: 50%;
    margin: 50px 0;
  }

  #extraInfoBox{
	background:white;
	margin-left:100px;
	margin-right:100px;
	margin-top:50px;
    align-items: center;
    margin-bottom: 30px;
    
    display: flex;
    flex-direction: column;
}


}
@media(max-width: 1000px) {

  .projects {
    flex-direction: column;
    height: 600px;
    align-items: center;
  }

  .projectsText {
    height: 400px;
    margin-bottom: 0;
  }

  .projectsPic {
    height: 100%;
    width: 70%;
    margin: 50px 0;
  }

  #extraInfoBox{
	background:white;
	margin-left:100px;
	margin-right:100px;
	margin-top:50px;
    
    margin-bottom: 30px;
    
    display: flex;
    flex-direction: column;
}




}

@media(max-width: 940px) {

  .projects {
    flex-direction: column;
    height: 600px;
    align-items: center;
  }

  .projectsText {
    height: 400px;
    margin-bottom: 0;
  }

  .projectsPic {
    height: 100%;
    width: 70%;
    margin: 50px 0;
  }

  #extraInfoBox{
	background:white;
	margin-left:100px;
	margin-right:100px;
	margin-top:50px;
    
    margin-bottom:30px;
    width:100%;
    display: flex;
    flex-direction: column;
}




}
