body{
	font-family: 'Lato';

}

#navbar{
	display: flex;
	flex-direction: column;
	align-items: center;/* allign items for vertical*/
	justify-content: center;
	/*position: fixed; /*keeps top portion to stay at top over things*/
	height: 100vh; /*makes it cover entire screen at beginning*/
	margin: 0 50px;
}
#navbarLeft {
	display: flex;	/*flexbox*/
	flex-direction: column;
	text-align:center;
}
.borderBox{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0,0.4);
    border-bottom: 1px solid rgba(255, 255, 255,0.4);
    margin: 64px auto 44px;
    width: 64px;
}
#navbarLeft h1{
	font-weight: 300;
}
#contact{
	display:flex;
	justify-content: center;
	margin-bottom: 15px;	
}
#navbarLeft h1, #navbarLeft p{	
	margin:0;
	margin-bottom: 10px;
}

#navbarLeft button{
	background-color: black;
	color: white;	
	cursor: pointer; /*adds hand over button when cursor on it*/
	height: 34px;
	width: 34px;
	border-radius: 17px;/*makes button slightly round */
	font-weight: bold; /*makes them thicc 400 reg 700 bold*/;
	border: 2px solid black;		

}

#navbarLeft button:hover{
	background: white;
	color: black;
}

#navbarLeft img{
	height: 15px;
	width: 15px;	
}

#navbarRight{
	display:flex;
	flex-direction: row;
	align-items: flex-end;

}
#navbarRight p{
	margin: 0px 10px; /* top right bottom left*/
	cursor: pointer;
}

#navbarRight p:hover{
	color: pink;

}

#projectBox{
	display:flex;
	flex-wrap:wrap;
	width: 900px;
}
.project{
	width: 220px;
	padding-left: 30px;
	padding-bottom:50px;
	
	
}
.project h3, .project p{
	margin: 5px 0;
}

.experience h3, .experience p{
	margin: 5px 0;
	padding-left: 30px;
}

.projectBtns{
	height: 30px;
	display:flex;
	align-items:center; /*Makes it so that the buttons dont take height of container in flexbox*/

}
.projectBtns a{
	text-decoration: none;
	background-color: black;
	color:	white;
	padding:5px;
	border-radius: 5px;
	margin-right: 10px;
	font-size: 10px;
	
}

.projectBtns a:hover{
	background-color: blue;
	cursor:pointer;
}

.disabledBtn{
	background-color: gray !important; /* makes sure that this takes presedence */
	cursor:default !important;
}

/*code from w3 schools*/

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
	border-radius: 50%;
	margin: 0 10px;	

	
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-github {
    background:black;
    color: white;
}
.fa-google {
    background: red;
    color: white;
}
.fa-linkedin {
    background: blue;
    color: white;
}
/*code from w3 schools*/
/*
@media(max-width: 1000px){
	#info{
		flex:wrap;
	}
}*/